<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Engage Video Connect</title>
</head>
<body>
    <h3 id="label-username">Please enter your username</h3>
    <div>
        <input id="username"><button id="btn-join">Join meeting</button>
    </div>
    <div class="container">
        <div id="video-box">
            <div><video id="local-video" style="float: left;" autoplay playsinline></video></div>
            <button id = "toggle-audio-button">Mute mic</button>
            <button id = "toggle-video-button">Video off</button>
        </div>
        <div id = "chat">
            <h3>Chat</h3>
            <div id = "messages">
                <ul id = "message-list"></ul>
            </div>
            <div>
                <input id = "message"><button id="send-msg-button">Send message</button>
            </div>
            <!-- <button id="btn-share-screen">Share Screen</button> -->
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>